# Python
__pycache__/
*.py[cod]
*$py.class
.python-version

# Django
db.sqlite3
media/
staticfiles/
*.log

# Virtualenv
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
*.env

# VSCode
.vscode/

# PyCharm
.idea/


# Redis
dump.rdb
*.rdb
