{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="dashboard">
  <h1>Wiperino</h1>
  <h2 id="run-info">Run: [details]</h2>
  <h2 id="game-info">Game: [details]</h2>

  {% if run.mode == "WIPECOUNTER" %}
    {% include "playerhub/wipecounter_dashboard.html" %}
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
{% if run.mode == "WIPECOUNTER" %}
<script src="{% static 'js/playerhub/run_wipecounter.js' %}"></script>
{% endif %}
<script src="{% static 'js/playerhub/run_dashboard.js' %}"></script>
<script src="{% static 'js/auth.js' %}"></script>
{% endblock %}